<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/index.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <table class="gridtable">
      <tr>
        <th>房间号</th><th>姓名</th><th>部门</th>
      </tr>
      <tr>
        <td contenteditable="true">Text 1A</td>
        <td contenteditable="true">Text 1B</td>
        <td>Text 1C</td>
      </tr>
      <tr>
        <td>Text 2A</td>
        <td>Text 2B</td>
        <td>Text 2C</td>
      </tr>
    </table>
  </body>
</html>
